server:
  port: 8080

spring:
  application:
    name: trading-system
  datasource:
    url: jdbc:h2:mem:trading_db;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: khoi
    password: password
    driverClassName: org.h2.Driver
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true


external-source:
  connection-config-map:
    binance:
      baseUrl: "https://api.binance.com"
      path: "/api/v3/ticker/bookTicker"

    huobi:
      baseUrl: "https://api.huobi.pro"
      path: "/market/tickers"



