server:
  port: 8080

spring:
  application:
    name: trading-system
  datasource:
    url: jdbc:h2:mem:trading_db
    username: khoi
    password: password
    driverClassName: org.h2.Driver
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none


external-source:
  binance:
    baseUrl: "https://api.binance.com"
    path: "/api/v3/ticker/bookTicker"
    apiKey: 123
  huobi:
    baseUrl: "https://api.huobi.pro"
    path: "/market/tickers"
    apiKey: 456



